name: CI

permissions:
  id-token: write
  contents: read

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@v1
        with:
          deno-version: canary

      - name: typecheck & formatting
        shell: bash
        run: |
          set -xeuo pipefail
          deno cache --unstable mod.ts
          deno fmt --check

      - name: publish
        run: deno publish --provenance
